In [1]:
import polars_ds as pld
import polars as pl
import numpy as np

# Num Extensions

In [2]:
size = 10_000
df = pl.DataFrame({
    "f": np.sin(list(range(size)))
    , "time_idx": range(size)
    , "dummy": ["a"] * (size // 2) + ["b"] * (size // 2)
    , "a": np.random.random(size = size)
    , "b": np.random.random(size = size)
    , "x1" : range(size)
    , "x2" : range(size, size + size)
    , "y": range(-size, 0)
    , "actual": np.round(np.random.random(size=size)).astype(np.int32)
    , "predicted": np.random.random(size=size)
    , "dummy_groups":["a"] * (size//2) + ["b"] * (size//2) 
})
df.head()

shape: (5, 11)
┌───────────┬──────────┬───────┬──────────┬───┬────────┬────────┬───────────┬──────────────┐
│ f         ┆ time_idx ┆ dummy ┆ a        ┆ … ┆ y      ┆ actual ┆ predicted ┆ dummy_groups │
│ ---       ┆ ---      ┆ ---   ┆ ---      ┆   ┆ ---    ┆ ---    ┆ ---       ┆ ---          │
│ f64       ┆ i64      ┆ str   ┆ f64      ┆   ┆ i64    ┆ i32    ┆ f64       ┆ str          │
╞═══════════╪══════════╪═══════╪══════════╪═══╪════════╪════════╪═══════════╪══════════════╡
│ 0.0       ┆ 0        ┆ a     ┆ 0.923757 ┆ … ┆ -10000 ┆ 0      ┆ 0.383097  ┆ a            │
│ 0.841471  ┆ 1        ┆ a     ┆ 0.821878 ┆ … ┆ -9999  ┆ 0      ┆ 0.82034   ┆ a            │
│ 0.909297  ┆ 2        ┆ a     ┆ 0.694722 ┆ … ┆ -9998  ┆ 0      ┆ 0.980646  ┆ a            │
│ 0.14112   ┆ 3        ┆ a     ┆ 0.26901  ┆ … ┆ -9997  ┆ 1      ┆ 0.308151  ┆ a            │
│ -0.756802 ┆ 4        ┆ a     ┆ 0.247446 ┆ … ┆ -9996  ┆ 0      ┆ 0.695887  ┆ a            │
└───────────┴──────────┴───────┴──────────┴───┴────────┴────────┴───────────┴──────────────┘

In [3]:
# Column-wise Jaccard Similarity. Result should be 0 as they are distinct
df.select(
    pl.col("x1").num.jaccard(pl.col("x2"))
)

shape: (1, 1)
┌─────┐
│ x1  │
│ --- │
│ f64 │
╞═════╡
│ 0.0 │
└─────┘

In [4]:
# FFT. First is real part, second is complex part
df.select(
    pl.col("f").num.rfft()
).head()

shape: (5, 1)
┌──────────────────────┐
│ f                    │
│ ---                  │
│ list[f64]            │
╞══════════════════════╡
│ [1.939505, 0.0]      │
│ [1.939506, 0.000209] │
│ [1.939508, 0.000418] │
│ [1.939512, 0.000627] │
│ [1.939518, 0.000835] │
└──────────────────────┘

In [5]:
# Least Square (Linear Regression)
df.select(
    pl.col("y").num.lstsq(pl.col("x1"), pl.col("x2"), add_bias=False)
)

shape: (1, 1)
┌────────────┐
│ y          │
│ ---        │
│ list[f64]  │
╞════════════╡
│ [NaN, NaN] │
└────────────┘

In [6]:
df.lazy().select(
    pl.col("y").num.lstsq(pl.col("x1"), pl.col("x2"), add_bias=False)
).collect()

shape: (1, 1)
┌────────────┐
│ y          │
│ ---        │
│ list[f64]  │
╞════════════╡
│ [NaN, NaN] │
└────────────┘

In [7]:
df.select(
    pl.col("y").num.lstsq(pl.col("x1"), pl.col("x2"), add_bias=False).over(pl.col("dummy"))
).head()

shape: (5, 1)
┌────────────┐
│ list_float │
│ ---        │
│ list[f64]  │
╞════════════╡
│ [NaN, NaN] │
│ [NaN, NaN] │
│ [NaN, NaN] │
│ [NaN, NaN] │
│ [NaN, NaN] │
└────────────┘

In [8]:
df.group_by("dummy").agg(
    pl.col("y").num.lstsq(pl.col("x1"), pl.col("x2"), add_bias=False)
)

shape: (2, 2)
┌───────┬────────────┐
│ dummy ┆ list_float │
│ ---   ┆ ---        │
│ str   ┆ list[f64]  │
╞═══════╪════════════╡
│ b     ┆ [NaN, NaN] │
│ a     ┆ [NaN, NaN] │
└───────┴────────────┘

In [9]:
# Rolling regression
df.lazy().rolling(
    index_column = pl.col("time_idx").set_sorted(),
    period = "120i",
    offset = "-121i"
).agg(
    pl.col("y").num.lstsq(pl.col("x1"), pl.col("x2"), add_bias=False).alias("coefficients")
).slice(offset = 120).select(
    "time_idx",
    "coefficients",
).collect().head(10)

shape: (10, 2)
┌──────────┬──────────────┐
│ time_idx ┆ coefficients │
│ ---      ┆ ---          │
│ i64      ┆ list[f64]    │
╞══════════╪══════════════╡
│ 120      ┆ [NaN, NaN]   │
│ 121      ┆ [NaN, NaN]   │
│ 122      ┆ [NaN, NaN]   │
│ 123      ┆ [NaN, NaN]   │
│ …        ┆ …            │
│ 126      ┆ [NaN, NaN]   │
│ 127      ┆ [NaN, NaN]   │
│ 128      ┆ [NaN, NaN]   │
│ 129      ┆ [NaN, NaN]   │
└──────────┴──────────────┘

In [10]:
# Conditional Entropy, should be 0 because x1 is an ID
df.select(
    pl.col("y").num.cond_entropy(pl.col("x1"))
)

shape: (1, 1)
┌──────┐
│ y    │
│ ---  │
│ f64  │
╞══════╡
│ -0.0 │
└──────┘

In [11]:
df.group_by("dummy_groups").agg(
    pl.col("actual").metric.l2_loss(pl.col("predicted")).alias("l2"),
    pl.col("actual").metric.bce(pl.col("predicted")).alias("log loss"),
    pl.col("actual").metric.binary_metrics_combo(pl.col("predicted")).alias("combo")
).unnest("combo")

shape: (2, 8)
┌──────────────┬──────────┬──────────┬───────────┬──────────┬──────────┬────────────────┬──────────┐
│ dummy_groups ┆ l2       ┆ log loss ┆ precision ┆ recall   ┆ f        ┆ average_precis ┆ roc_auc  │
│ ---          ┆ ---      ┆ ---      ┆ ---       ┆ ---      ┆ ---      ┆ ion            ┆ ---      │
│ str          ┆ f64      ┆ f64      ┆ f64       ┆ f64      ┆ f64      ┆ ---            ┆ f64      │
│              ┆          ┆          ┆           ┆          ┆          ┆ f64            ┆          │
╞══════════════╪══════════╪══════════╪═══════════╪══════════╪══════════╪════════════════╪══════════╡
│ b            ┆ 0.334506 ┆ 1.00467  ┆ 0.504239  ┆ 0.496029 ┆ 0.25005  ┆ 0.495163       ┆ 0.494579 │
│ a            ┆ 0.340079 ┆ 1.026602 ┆ 0.497984  ┆ 0.488335 ┆ 0.246556 ┆ 0.49981        ┆ 0.492807 │
└──────────────┴──────────┴──────────┴───────────┴──────────┴──────────┴────────────────┴──────────┘

# Str Extension

In [12]:
size = 100_000
df2 = pl.DataFrame({
    "sen":["Hello, world! I'm going to church."] * size,
    "word":["words", "word"] * (size //2)
})
df2.head()

shape: (5, 2)
┌───────────────────────────────────┬───────┐
│ sen                               ┆ word  │
│ ---                               ┆ ---   │
│ str                               ┆ str   │
╞═══════════════════════════════════╪═══════╡
│ Hello, world! I'm going to churc… ┆ words │
│ Hello, world! I'm going to churc… ┆ word  │
│ Hello, world! I'm going to churc… ┆ words │
│ Hello, world! I'm going to churc… ┆ word  │
│ Hello, world! I'm going to churc… ┆ words │
└───────────────────────────────────┴───────┘

In [13]:
# Tokenize
df2.select(
    pl.col("sen").str.to_lowercase().str2.tokenize().explode().unique()
)

shape: (5, 1)
┌────────┐
│ sen    │
│ ---    │
│ str    │
╞════════╡
│ church │
│ to     │
│ world  │
│ hello  │
│ going  │
└────────┘

In [14]:
df2.select(
    pl.col("sen").str.to_lowercase().str2.tokenize(stem=True).explode().unique()
)

shape: (4, 1)
┌────────┐
│ sen    │
│ ---    │
│ str    │
╞════════╡
│ world  │
│ go     │
│ hello  │
│ church │
└────────┘

In [15]:
df2.select(
    pl.col("word").str2.levenshtein("world")
).head()

shape: (5, 1)
┌──────┐
│ word │
│ ---  │
│ u32  │
╞══════╡
│ 2    │
│ 1    │
│ 2    │
│ 1    │
│ 2    │
└──────┘

In [16]:
# Damerau-Levenshtein
df2.select(
    pl.col("word").str2.d_levenshtein("world")
).head()

shape: (5, 1)
┌──────┐
│ word │
│ ---  │
│ u32  │
╞══════╡
│ 2    │
│ 1    │
│ 2    │
│ 1    │
│ 2    │
└──────┘

In [17]:
df2.select(
    pl.col("word").str2.levenshtein("world", return_sim = True)
).head()

shape: (5, 1)
┌──────┐
│ word │
│ ---  │
│ f64  │
╞══════╡
│ 0.6  │
│ 0.8  │
│ 0.6  │
│ 0.8  │
│ 0.6  │
└──────┘

In [18]:
df2.filter(
    pl.col("word").str2.levenshtein("world") == 1
).head()

shape: (5, 2)
┌───────────────────────────────────┬──────┐
│ sen                               ┆ word │
│ ---                               ┆ ---  │
│ str                               ┆ str  │
╞═══════════════════════════════════╪══════╡
│ Hello, world! I'm going to churc… ┆ word │
│ Hello, world! I'm going to churc… ┆ word │
│ Hello, world! I'm going to churc… ┆ word │
│ Hello, world! I'm going to churc… ┆ word │
│ Hello, world! I'm going to churc… ┆ word │
└───────────────────────────────────┴──────┘

In [19]:
df = pl.DataFrame({
    "word":["apple", "banana", "pineapple", "asasasas", "sasasass"],
    "other_data": [1,2,3,4,5]
})
gibberish = ["asasasa", "sasaaasss", "asdasadadfa"]

In [20]:
df.filter(
    pl.col("word").str2.similar_to_vocab(
        vocab = gibberish,
        threshold = 0.5,
        metric = "leven", # Levenshtein similarity. Other options: dleven, osa, jw
        strategy = "any" # True if the word is similar to any word in vocab. Other options: "all", "avg"
    )
)

shape: (2, 2)
┌──────────┬────────────┐
│ word     ┆ other_data │
│ ---      ┆ ---        │
│ str      ┆ i64        │
╞══════════╪════════════╡
│ asasasas ┆ 4          │
│ sasasass ┆ 5          │
└──────────┴────────────┘

In [21]:

df.select(
    pl.col("word").str2.levenshtein("asasasa", return_sim=True).alias("asasasa"),
    pl.col("word").str2.levenshtein("sasaaasss", return_sim=True).alias("sasaaasss"),
    pl.col("word").str2.levenshtein("asdasadadfa", return_sim=True).alias("asdasadadfa"),
    pl.col("word").str2.fuzz("apples").alias("LCS based Fuzz match - apples"),
    pl.col("word").str2.osa("apples", return_sim = True).alias("Optimal String Alignment - apples"),
    pl.col("word").str2.jw("apples").alias("Jaro-Winkler - apples"),
)

shape: (5, 6)
┌──────────┬───────────┬─────────────┬────────────────┬───────────────────────────┬────────────────┐
│ asasasa  ┆ sasaaasss ┆ asdasadadfa ┆ LCS based Fuzz ┆ Optimal String Alignment  ┆ Jaro-Winkler - │
│ ---      ┆ ---       ┆ ---         ┆ match - apples ┆ - apple…                  ┆ apples         │
│ f64      ┆ f64       ┆ f64         ┆ ---            ┆ ---                       ┆ ---            │
│          ┆           ┆             ┆ f64            ┆ f64                       ┆ f64            │
╞══════════╪═══════════╪═════════════╪════════════════╪═══════════════════════════╪════════════════╡
│ 0.142857 ┆ 0.111111  ┆ 0.090909    ┆ 0.833333       ┆ 0.833333                  ┆ 0.966667       │
│ 0.428571 ┆ 0.333333  ┆ 0.272727    ┆ 0.166667       ┆ 0.0                       ┆ 0.444444       │
│ 0.111111 ┆ 0.111111  ┆ 0.090909    ┆ 0.555556       ┆ 0.444444                  ┆ 0.5            │
│ 0.875    ┆ 0.666667  ┆ 0.545455    ┆ 0.25           ┆ 0.25                      ┆ 0.527778       │
│ 0.75     ┆ 0.777778  ┆ 0.454545    ┆ 0.25           ┆ 0.25                      ┆ 0.527778       │
└──────────┴───────────┴─────────────┴────────────────┴───────────────────────────┴────────────────┘

# Stats Extension

In [22]:
import numpy as np

df = pl.DataFrame({
    "a": [None, None] + list(np.random.normal(size = 998))
})
df.head()

shape: (5, 1)
┌───────────┐
│ a         │
│ ---       │
│ f64       │
╞═══════════╡
│ null      │
│ null      │
│ 0.812479  │
│ 1.305391  │
│ -0.741552 │
└───────────┘

In [23]:
# Genenrate random sample, respecting null positions in reference column (pl.col("a"))
df.with_columns(
    pl.col("a").stats.sample_normal(mean = 0.5, std = 1., respect_null=True).alias("random")
)

shape: (1_000, 2)
┌───────────┬───────────┐
│ a         ┆ random    │
│ ---       ┆ ---       │
│ f64       ┆ f64       │
╞═══════════╪═══════════╡
│ null      ┆ null      │
│ null      ┆ null      │
│ 0.812479  ┆ 0.898183  │
│ 1.305391  ┆ -0.160581 │
│ …         ┆ …         │
│ 0.823684  ┆ -0.29019  │
│ 0.186369  ┆ 1.281384  │
│ -0.208343 ┆ 0.040655  │
│ 0.742601  ┆ 0.876999  │
└───────────┴───────────┘

In [24]:
# Genenrate random string
df.with_columns(
    pl.col("a").stats.rand_str(min_size = 1, max_size = 5, respect_null=True).alias("random_str")
)

shape: (1_000, 2)
┌───────────┬────────────┐
│ a         ┆ random_str │
│ ---       ┆ ---        │
│ f64       ┆ str        │
╞═══════════╪════════════╡
│ null      ┆ null       │
│ null      ┆ null       │
│ 0.812479  ┆ Ey5n       │
│ 1.305391  ┆ gTB        │
│ …         ┆ …          │
│ 0.823684  ┆ 65k        │
│ 0.186369  ┆ v          │
│ -0.208343 ┆ j68v       │
│ 0.742601  ┆ lgKh       │
└───────────┴────────────┘

In [25]:
# Genenrate fixed size random string
df.with_columns(
    pl.col("a").stats.rand_str(min_size = 5, max_size = 5, respect_null=True).alias("random_str")
)

shape: (1_000, 2)
┌───────────┬────────────┐
│ a         ┆ random_str │
│ ---       ┆ ---        │
│ f64       ┆ str        │
╞═══════════╪════════════╡
│ null      ┆ null       │
│ null      ┆ null       │
│ 0.812479  ┆ vVamd      │
│ 1.305391  ┆ dpiIA      │
│ …         ┆ …          │
│ 0.823684  ┆ QrqpF      │
│ 0.186369  ┆ txIf8      │
│ -0.208343 ┆ xutsr      │
│ 0.742601  ┆ mcTAz      │
└───────────┴────────────┘

In [26]:
df.with_columns(
    # Sample from normal distribution, using reference column "a" 's mean and std
    pl.col("a").stats.sample_normal().alias("test1") 
    # Sample from uniform distribution, with low = 0 and high = "a"'s max, and respect the nulls in "a"
    , pl.col("a").stats.sample_uniform(low = 0., high = None, respect_null=True).alias("test2")
).head()

shape: (5, 3)
┌───────────┬───────────┬──────────┐
│ a         ┆ test1     ┆ test2    │
│ ---       ┆ ---       ┆ ---      │
│ f64       ┆ f64       ┆ f64      │
╞═══════════╪═══════════╪══════════╡
│ null      ┆ 0.608496  ┆ null     │
│ null      ┆ 2.452176  ┆ null     │
│ 0.812479  ┆ -1.307219 ┆ 0.69898  │
│ 1.305391  ┆ 0.592246  ┆ 2.668401 │
│ -0.741552 ┆ -0.313917 ┆ 2.76372  │
└───────────┴───────────┴──────────┘

In [27]:
# Genenrate 2 random sample, both normally distributed
# Run Welch's t test on them, p value should be big since they have equal mean
# Run a normality test. Again, p value should be big since they are normally distributed 

df.with_columns(
    pl.col("a").stats.sample_normal(mean = 0.5, std = 1.).alias("test1")
    , pl.col("a").stats.sample_normal(mean = 0.5, std = 2.).alias("test2")
).select(
    pl.col("test1").stats.ttest_ind(pl.col("test2"), equal_var = False).alias("t-test")
    , pl.col("test1").stats.normal_test().alias("normality_test")
).select(
    pl.col("t-test").struct.field("statistic").alias("t-tests: statistics")
    , pl.col("t-test").struct.field("pvalue").alias("t-tests: pvalue")
    , pl.col("normality_test").struct.field("statistic").alias("normality_test: statistics")
    , pl.col("normality_test").struct.field("pvalue").alias("normality_test: pvalue")
)

shape: (1, 4)
┌─────────────────────┬─────────────────┬────────────────────────────┬────────────────────────┐
│ t-tests: statistics ┆ t-tests: pvalue ┆ normality_test: statistics ┆ normality_test: pvalue │
│ ---                 ┆ ---             ┆ ---                        ┆ ---                    │
│ f64                 ┆ f64             ┆ f64                        ┆ f64                    │
╞═════════════════════╪═════════════════╪════════════════════════════╪════════════════════════╡
│ -0.201648           ┆ 0.840218        ┆ 2.701962                   ┆ 0.258986               │
└─────────────────────┴─────────────────┴────────────────────────────┴────────────────────────┘

In [28]:
size = 5000
df = pl.DataFrame({
    "market_id": range(size),
    "group1": np.random.random(size=size),
    "group2": np.random.random(size=size),
    "category_1": np.random.randint(low=0, high=5, size=size),
    "category_2":np.random.randint(low=0, high=10, size=size)
}).with_columns(
    pl.col("market_id").mod(3)
)
df.head(5)

shape: (5, 5)
┌───────────┬──────────┬──────────┬────────────┬────────────┐
│ market_id ┆ group1   ┆ group2   ┆ category_1 ┆ category_2 │
│ ---       ┆ ---      ┆ ---      ┆ ---        ┆ ---        │
│ i64       ┆ f64      ┆ f64      ┆ i64        ┆ i64        │
╞═══════════╪══════════╪══════════╪════════════╪════════════╡
│ 0         ┆ 0.521916 ┆ 0.933105 ┆ 1          ┆ 7          │
│ 1         ┆ 0.330592 ┆ 0.135028 ┆ 4          ┆ 0          │
│ 2         ┆ 0.153465 ┆ 0.175164 ┆ 0          ┆ 0          │
│ 0         ┆ 0.91194  ┆ 0.666352 ┆ 2          ┆ 6          │
│ 1         ┆ 0.670293 ┆ 0.076665 ┆ 0          ┆ 6          │
└───────────┴──────────┴──────────┴────────────┴────────────┘

In [29]:
# In dataframe statistical tests!
print(df.select(
    pl.col("group1").stats.ttest_ind(pl.col("group2"), equal_var = True).alias("t-test"),
    pl.col("category_1").stats.chi2(pl.col("category_2")).alias("chi2-test"),
    pl.col("category_1").stats.f_test(pl.col("group1")).alias("f-test")
))

shape: (1, 3)
┌─────────────────────┬──────────────────────┬─────────────────────┐
│ t-test              ┆ chi2-test            ┆ f-test              │
│ ---                 ┆ ---                  ┆ ---                 │
│ struct[2]           ┆ struct[2]            ┆ struct[2]           │
╞═════════════════════╪══════════════════════╪═════════════════════╡
│ {1.278858,0.200977} ┆ {43.477735,0.182968} ┆ {0.445759,0.775577} │
└─────────────────────┴──────────────────────┴─────────────────────┘

In [30]:
# Can also be done in group by context
df.group_by("market_id").agg(
    pl.col("group1").stats.ttest_ind(pl.col("group2"), equal_var = False).alias("t-test"),
    pl.col("category_1").stats.chi2(pl.col("category_2")).alias("chi2-test"),-
    pl.col("category_1").stats.f_test(pl.col("group1")).alias("f-test")
)

shape: (3, 4)
┌───────────┬──────────────────────┬──────────────────────┬───────────────────────┐
│ market_id ┆ t-test               ┆ chi2-test            ┆ f-test                │
│ ---       ┆ ---                  ┆ ---                  ┆ ---                   │
│ i64       ┆ struct[2]            ┆ struct[2]            ┆ struct[2]             │
╞═══════════╪══════════════════════╪══════════════════════╪═══════════════════════╡
│ 0         ┆ {1.48659,0.137218}   ┆ {30.477509,0.728317} ┆ {-0.495429,-0.73912}  │
│ 1         ┆ {-1.426161,0.153916} ┆ {39.388791,0.320765} ┆ {-0.530595,-0.713277} │
│ 2         ┆ {2.159032,0.030919}  ┆ {30.359994,0.733428} ┆ {-0.588994,-0.670643} │
└───────────┴──────────────────────┴──────────────────────┴───────────────────────┘

# Nearest Neighbors Related Tasks

These queries can be very slow when data/dimension gets huge, even when processed in parallel.

In [31]:
import polars_ds as pld
df = pl.DataFrame({
    "id": range(1000),
    "val1": np.random.random(size=1000), 
    "val2": np.random.random(size=1000), 
    "val3": np.random.random(size=1000),
    "r": np.random.random(size=1000),
    "rh": np.random.random(size=1000)*10,
})

In [32]:
# Get neighbor count. The point itself is always considered a neighbor to itself.
df.select(
    pld.query_nb_cnt(
        0.1, # radius 
        pl.col("val1"), pl.col("val2"), pl.col("val3"), # Columns used as the coordinates in n-d space
        dist = "inf", # L Infinity distance 
        parallel = True 
    )
).head()

shape: (5, 1)
┌─────┐
│     │
│ --- │
│ u32 │
╞═════╡
│ 13  │
│ 4   │
│ 13  │
│ 2   │
│ 6   │
└─────┘

In [33]:
df.select(
    pld.query_nb_cnt(
        pl.col("r"), # radius be an expression too
        pl.col("val1"), pl.col("val2"), pl.col("val3"), # Columns used as the coordinates in n-d space
        dist = "l1", # L 1 distance 
        parallel = True 
    )
).head()

shape: (5, 1)
┌─────┐
│ r   │
│ --- │
│ u32 │
╞═════╡
│ 1   │
│ 95  │
│ 92  │
│ 1   │
│ 68  │
└─────┘

In [34]:
# Get ids of the k nearest neighbors. 
# The point itself is always considered a neighbor to itself, so k + 1 elements will be returned.
df.with_columns(
    pl.col("id").num.knn_ptwise(
        pl.col("val1"), pl.col("val2"), pl.col("val3"), # Columns used as the coordinates in n-d space
        k = 3, 
        dist = "l2", # actually this is squared l2
        parallel = True
    ).alias("best friends")
).head()

shape: (5, 7)
┌─────┬──────────┬──────────┬──────────┬──────────┬──────────┬─────────────────┐
│ id  ┆ val1     ┆ val2     ┆ val3     ┆ r        ┆ rh       ┆ best friends    │
│ --- ┆ ---      ┆ ---      ┆ ---      ┆ ---      ┆ ---      ┆ ---             │
│ i64 ┆ f64      ┆ f64      ┆ f64      ┆ f64      ┆ f64      ┆ list[u64]       │
╞═════╪══════════╪══════════╪══════════╪══════════╪══════════╪═════════════════╡
│ 0   ┆ 0.556984 ┆ 0.813477 ┆ 0.350787 ┆ 0.20585  ┆ 2.794572 ┆ [0, 894, … 491] │
│ 1   ┆ 0.168558 ┆ 0.28504  ┆ 0.067228 ┆ 0.6093   ┆ 6.035545 ┆ [1, 862, … 671] │
│ 2   ┆ 0.727495 ┆ 0.283476 ┆ 0.35535  ┆ 0.358551 ┆ 8.154042 ┆ [2, 377, … 518] │
│ 3   ┆ 0.314099 ┆ 0.966418 ┆ 0.418985 ┆ 0.268178 ┆ 8.481044 ┆ [3, 688, … 131] │
│ 4   ┆ 0.713966 ┆ 0.884678 ┆ 0.326371 ┆ 0.697873 ┆ 1.138465 ┆ [4, 617, … 368] │
└─────┴──────────┴──────────┴──────────┴──────────┴──────────┴─────────────────┘

In [35]:
# Filter to only points near the given point
df.filter(
    pld.query_radius(
        [0.5, 0.5, 0.5],
        pl.col("val1"), pl.col("val2"), pl.col("val3"), # Columns used as the coordinates in n-d space
        radius = 0.2,
        dist = "l2" # actually this is squared l2, so this is asking for squared l2 <= 0.2
    )
).head()

shape: (5, 6)
┌─────┬──────────┬──────────┬──────────┬──────────┬──────────┐
│ id  ┆ val1     ┆ val2     ┆ val3     ┆ r        ┆ rh       │
│ --- ┆ ---      ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64 ┆ f64      ┆ f64      ┆ f64      ┆ f64      ┆ f64      │
╞═════╪══════════╪══════════╪══════════╪══════════╪══════════╡
│ 0   ┆ 0.556984 ┆ 0.813477 ┆ 0.350787 ┆ 0.20585  ┆ 2.794572 │
│ 2   ┆ 0.727495 ┆ 0.283476 ┆ 0.35535  ┆ 0.358551 ┆ 8.154042 │
│ 8   ┆ 0.502952 ┆ 0.36392  ┆ 0.629521 ┆ 0.946264 ┆ 4.689013 │
│ 10  ┆ 0.504538 ┆ 0.263428 ┆ 0.441634 ┆ 0.677588 ┆ 1.401168 │
│ 12  ┆ 0.606667 ┆ 0.554149 ┆ 0.873974 ┆ 0.792365 ┆ 9.309631 │
└─────┴──────────┴──────────┴──────────┴──────────┴──────────┘

In [36]:
# Haversine distance is available when dimension is 2
df.filter(
    pld.query_radius(
        [0.5, 0.5],
        pl.col("val1"), pl.col("val2"), # Columns used as the coordinates in n-d space
        radius = 10, # in km
        dist = "h" 
    )
).head()

shape: (5, 6)
┌─────┬──────────┬──────────┬──────────┬──────────┬──────────┐
│ id  ┆ val1     ┆ val2     ┆ val3     ┆ r        ┆ rh       │
│ --- ┆ ---      ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64 ┆ f64      ┆ f64      ┆ f64      ┆ f64      ┆ f64      │
╞═════╪══════════╪══════════╪══════════╪══════════╪══════════╡
│ 28  ┆ 0.428129 ┆ 0.509307 ┆ 0.167978 ┆ 0.844145 ┆ 9.423091 │
│ 122 ┆ 0.534677 ┆ 0.455762 ┆ 0.170693 ┆ 0.440946 ┆ 1.118433 │
│ 142 ┆ 0.475952 ┆ 0.477477 ┆ 0.523362 ┆ 0.24799  ┆ 9.823831 │
│ 201 ┆ 0.484728 ┆ 0.42669  ┆ 0.08992  ┆ 0.99291  ┆ 0.515287 │
│ 206 ┆ 0.434245 ┆ 0.468214 ┆ 0.853305 ┆ 0.349891 ┆ 4.084577 │
└─────┴──────────┴──────────┴──────────┴──────────┴──────────┘

In [37]:
df.filter(
    pld.query_radius(
        [0.5, 0.5],
        # Columns used as the coordinates in n-d space
        pl.col("val1"), pl.col("val2"), 
        # radius can also be an existing column in the dataframe.
        radius = pl.col("rh"), 
        dist = "h" 
    )
).head()

shape: (5, 6)
┌─────┬──────────┬──────────┬──────────┬──────────┬──────────┐
│ id  ┆ val1     ┆ val2     ┆ val3     ┆ r        ┆ rh       │
│ --- ┆ ---      ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ i64 ┆ f64      ┆ f64      ┆ f64      ┆ f64      ┆ f64      │
╞═════╪══════════╪══════════╪══════════╪══════════╪══════════╡
│ 28  ┆ 0.428129 ┆ 0.509307 ┆ 0.167978 ┆ 0.844145 ┆ 9.423091 │
│ 142 ┆ 0.475952 ┆ 0.477477 ┆ 0.523362 ┆ 0.24799  ┆ 9.823831 │
│ 372 ┆ 0.531577 ┆ 0.496783 ┆ 0.156837 ┆ 0.344136 ┆ 6.320538 │
│ 492 ┆ 0.55549  ┆ 0.490776 ┆ 0.249633 ┆ 0.289831 ┆ 7.934522 │
│ 503 ┆ 0.549946 ┆ 0.505154 ┆ 0.343253 ┆ 0.750602 ┆ 9.54491  │
└─────┴──────────┴──────────┴──────────┴──────────┴──────────┘